#content{
    margin-top:50px;
}

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    margin-left: 0px;
}

.radio label, .checkbox label {
    padding-left: 0px;
}

.logout {
    margin-top: 16px;
    float: right;
}

.navbar-nav li {
    margin: 0 1px;
}

.navbar-header {
    margin-right: 10px !important;
}

.navbar-nav a {
    color: white !important;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background: #4CAF50;
    /*min-width: 50px;*/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.navbar-header h3 {
    margin: 10px 0;
}

.btn-register {
    margin-left: 8px;
}
